/*
    Author : Asad Shahabuddin
    File   : app.css
    Details: CSS for application - Console.
    Email  : asad808@ccs.neu.edu
*/

.asBody
{
    font-family: Arial;
    margin: 0px;
    max-width: 100%;
}

/* Button : BEGIN */
.asBlueBtn
{
    background-color: #2E64FE;
    border: 1px solid #013ADF;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin-left: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.asBlueBtn:hover
{
    border-color: #424242;
}

.asBookmarkBtn
{
    background-color: #A4A4A4;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.asBookmarkBtn:hover
{
    background-color: #088A08;
}

.asBookmarkRemBtn
{
    background-color: #A4A4A4;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.asBookmarkRemBtn:hover
{
    background-color: #DF0101;
}

.asButton
{
    background-color: #F2F2F2;
    border: 1px solid #D8D8D8;
    color: #585858;
    font-size: 15px;
    font-weight: normal;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}

.asButton:hover
{
    border: 1px solid #BDBDBD;
    color: black;
}

.asCoverButton
{
    margin-left: 30px;
}

.asFollowBtn
{
    background-color: #A4A4A4;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    color: #FAFAFA;
    font-size: 12px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.asFollowBtn:hover
{
    background-color: #2E64FE;
}
/* Button : END */

/* Division : BEGIN */
.asBookDiv
{
    float: left;
    padding-right: 50px;
    width: 50%;
}

.asCarouselItemDiv
{
    position: relative;
}

.asContainerDiv
{
    padding-left: 150px;
    padding-right: 150px;
}

.asCoverDiv
{
    /* background-image: url("../image/cover1.jpg"); */
    border-bottom: 1px solid #ccc;
    height: 350px;
}

.asFavBooksDiv
{
    float: left;
    padding-right: 50px;
    width: 50%;
}

.asFooterDiv
{
    background-color: #E6E6E6;
    border-top: 1px solid #ccc;
    clear: both;
    font-size: 13px;
    padding-bottom: 20px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 20px;
}

.asImgFrame
{
    background-size: cover;
    float: left;
    height: 150px;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 29%;
}

.asMusicDiv
{
    width: 50%;
}

.asNewsDiv
{
    float: left;
    padding-right: 50px;
    width: 50%;
}

.asPaddedDiv
{
    margin-left: 200px;
    margin-right: 200px;
}

.asPeopleDiv
{
    float: left;
    padding-right: 50px;
    width: 50%;
}

.asProfileTitleDiv
{
    background-color: #E6E6E6;
    border-bottom: 1px solid #ccc;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
}

.asWeatherDiv
{
    border: 1px solid #ccc;
    float: left;
    height: 350px;
    margin-top: 65px;
    padding-left: 35px;
    margin-bottom: 20px;
    width: 40%;
}

.asWelcomeTitleDiv
{
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding-left: 250px;
    padding-top: 20px;
}
/* Division : END */

/* Element : BEGIN */
.asBookP
{
    clear: both;
}

.asCenterElem
{
    text-align: center;
}

.asFormElem
{
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

@media screen and (max-width: 500px)
{
    .asFormElem
    {
        font-size: 14px;
    }
}

.asHr
{
    border: 0;
    border-top: 1px solid #E6E6E6;
    clear: both;
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
}

.asInputField
{
    font-size: 16px;
    line-height: 150%;
    padding-left: 5px;
}

.asWideInputField
{
    width: 90%;
}

p
{
    text-align: justify;
}
/* Element : END */

/* Heading : BEGIN */
.asBanner
{
    color: #5D5D5D;
    font-weight: bold;
    margin-left: 2em;
}

.asH1
{
    color: #5D5D5D;
    font-size: 4em;
    font-weight: normal;
}

@media screen and (max-width: 500px)
{
    .asH1
    {
        font-size: 3em;
    }
}

@media screen and (max-width: 420px)
{
    .asH1
    {
        font-size: 2em;
    }
}

.asH2
{
    font-weight: normal;
}

.asH2OverImg
{
    font-weight: normal;
    position: absolute;
    top: 303px;
    width: 100%;
}
/* Heading : END */

/* Image : BEGIN */
.asBookImg
{
    float: left;
    height: 80px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    width: 60px;
}

.asCarouselItem
{
    display: block;
    font-size: 4em;
    height: 480px;
    width: 100%;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.asContactImg
{
    height: 40px;
    padding: 10px;
    width: 40px;
}

.asPersonImg
{
    float: left;
    height: 160px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 10px;
    width: 120px;
}
/* Image : END */

/* Link : BEGIN */
.asBookA
{
    color: blue;
    font-size: 18px;
}

.asBookA:not(:hover)
{
    text-decoration: none;
}

.asBookA:visited
{
    /* color: purple; */
}

.asContactA
{
    text-decoration: none;
}

.asHeadlineA
{
    color: blue;
    font-size: 18px;
}

.asHeadlineA:not(:hover)
{
    text-decoration: none;
}

.asHeadlineA:visited
{
    color: purple;
}

.asPersonA
{
    color: black;
    font-size: 24px;
    text-decoration: none;
}

.asProfileNavA
{
    color: black;
    float: right;
    margin-right: 1em;
}

.asProfileNavA:not(:hover)
{
    text-decoration: none;
}

.asProfileNavA:hover
{
    color: #08f;
}

.asSignInA
{
    float: right;
    padding-right: 50px;
}

.asWelcomeNavA
{
    color: steelblue;
    margin-right: 1em;
}

.asWelcomeNavA:not(:hover)
{
    text-decoration: none;
}
/* Link : END */

/* Modal : BEGIN */
.asCoverModal
{
    border: 0px;
    border-radius: 10px;
    padding-left: 50px;
    width: 33%;
}

.asImgFrame1
{
    background-image: url('../image/cover1.jpg');
}

.asImgFrame2
{
    background-image: url('../image/cover2.jpg');
}

.asImgFrame3
{
    background-image: url('../image/cover3.jpg');
}

.asImgFrame4
{
    background-image: url('../image/cover4.jpg');
}

.asImgFrame5
{
    background-image: url('../image/cover5.png');
}

.asImgFrame6
{
    background-image: url('../image/cover6.jpg');
}
/* Modal : END */

/* Span : BEGIN */
/* Styles */
.asBoldSpan
{
    font-weight: bold;
}

.asNormalSpan
{
    font-weight: normal;
}

/* Colors */
.asBlancSpan
{
    color: white;
}

.asGrisSpan
{
    color: gray;
}

/* Custom */
.asBookAuth
{
    color: #585858;
    font-size: 13px;
    font-weight: bold;
}

.asBookDesc
{
    color: #585858;
    font-size: 13px;
}

.asBookUrl
{
    color: #0B610B;
    font-size: 14px;
}

.asCopyrightSpan1
{
    color: #A4A4A4;
}

.asCopyrightSpan2
{
    color: #6E6E6E;
}

.asFeedHeading
{
    color: #424242;
    font-size: 20px;
    font-weight: normal;
}

.asFeedSpan
{
    color: #585858;
    font-size: 13px;
    line-height: 30px;
}

.asMusicTitle
{
    color: #2E2E2E;
    font-size: 18px;
    font-weight: normal;
}

.asMusicUrl
{
    color: #0B610B;
    font-size: 14px;
}

.asNoContentSpan
{
    color: #BDBDBD;
    font-size: 64px;
}

.asPersonDesc
{
    color: #585858;
    font-size: 13px;
}

.asPersonTitle
{
    color: #2E2E2E;
    font-size: 18px;
    font-weight: normal;
}

.asSpanOverImg
{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
}

.asUsernameSpan
{
    color: black;
    font-size: 32px;
    line-height: 0px;
    margin-top: 0px;
    padding-left: 75px;
    padding-top: 275px;
}

.asWeatherSpan
{
    font-size: 16px;
    line-height: 150%;
}
/* Span : END */
/* Table : END */
/* End of app.css */