<!--
    Author : Asad Shahabuddin
    File   : books.html
    Details: Books application.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a ng-show="u" class="asProfileNavA" href="#/people">People</a>
        <a ng-show="u" class="asProfileNavA" href="#/music">Music</a>
        <a ng-show="!u" class="asProfileNavA" href="#/musicg">Music</a>
        <a ng-show="u" class="asProfileNavA asBoldSpan" href="#/books">Books</a>
        <a ng-show="!u" class="asProfileNavA asBoldSpan" href="#/booksg">Books</a>
        <a ng-show="u" class="asProfileNavA" href="#/news">News</a>
        <a ng-show="!u" class="asProfileNavA" href="#/newsg">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a ng-show="u" class="asProfileNavA" href="#/profile">
            <span>{{u.firstName}} {{u.lastName}}</span>
        </a>
        <a ng-show="!u" class="asProfileNavA" href="#/profileg">
            <span>Guest</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <h2 class="asNormalSpan">Books</h2>
    <div class="asSearchDiv">
        <input ng-model="title" class="asInputField asWideInputField" type ="text" placeholder="Book name" autofocus/>
        <button ng-click="search(title)" class="asButton">Search</button>
    </div>

    <br/><hr ng-show="books" class="asHr"/>

    <!-- Book details -->
    <div class="asBookDiv">
        <p ng-repeat="book in books" class="asBookP">
            <a class="asBookA" href="{{book.previewLink}}" target="_blank">{{book.title}}</a> 
            <button ng-show="u" ng-click="bookmark(book)" class="asBookmarkBtn">Bookmark</button>
            <br/>
            <img ng-src="{{thumbnail(book)}}" class="asBookImg"/>
            <span ng-show="{{book.industryIdentifiers}}" class="asBookUrl">
                https://books.google.com/books?isbn={{book.industryIdentifiers[0].identifier}}
            </span>
            <br/>
            <span ng-show="{{book.authors}}" class="asBookAuth">{{book.authors[0]}}</span>
            <br ng-show="{{book.authors}}"/>
            <span class="asBookDesc">{{abstract(book)}}</span>
            <br/>
        </p>
    </div>
</div>

<div ng-show="books" class="asFooterDiv">
    <span class="asCopyrightSpan1">&copy; 2015 Northeastern University - </span>
    <span class="asCopyrightSpan2">Asad Shahabuddin</span>
</div>
<!-- End of books.html -->