<!--
    Author : Asad Shahabuddin
    File   : bookmarks.html
    Details: Bookmarks.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a class="asProfileNavA" href="#/expense">Expense</a>
        <a class="asProfileNavA" href="#/music">Music</a>
        <a class="asProfileNavA" href="#/books">Books</a>
        <a class="asProfileNavA" href="#/news">News</a>
        <a ng-show="u" class="asProfileNavA asBoldSpan" href="#/bookmarks">Bookmarks</a>
        <a class="asProfileNavA" href="#/profile">
            <span ng-show="u">{{u.firstName}} {{u.lastName}}</span>
            <span ng-show="!u">Guest</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <!-- h2 class="asNormalSpan">Bookmarks</h2 -->

    <!-- Book details -->
    <div ng-show="books.length > 0" class="asFavBooksDiv">
        <h2 class="asNormalSpan">Books</h2>
        <p ng-repeat="book in books" class="asBookP">
            <a class="asBookA" href="http://skyrim.com">{{book.title}} </a>
            <button ng-click="remove(book)" class="asBookmarkRemBtn">Remove</button>
            <br/>
            <img ng-src="{{thumbnail(book)}}" class="asBookImg"/>
            <span ng-show="{{book.industryIdentifiers}}" class="asBookUrl">
                https://books.google.com/books?isbn={{book.industryIdentifiers[0].identifier}}
            </span>
            <br/>
            <span ng-show="{{book.authors}}" class="asBookAuth">{{book.authors[0]}}</span>
            <br ng-show="{{book.authors}}"/>
            <span class="asBookDesc">{{abstract(book)}}</span>
            <br/>
        </p>
        <hr class="asHr"/>
    </div>

    <!-- Songs -->
    <h2 ng-show="music" class="asNormalSpan" style="clear:both;">Music</h2>
    <div id="as-music-div"></div>
</div>
<!-- End of bookmarks.html -->