<!--
    Author : Asad Shahabuddin
    File   : music.html
    Details: Music application.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asCreditA" href="http://localhost:3000/html/doc.html#provider"
           onmouseover="document.getElementById('as-credit').src='image/credits.jpg'"
           onmouseout="document.getElementById('as-credit').src='image/none.jpg'">
            Credits
            <img class="asCreditImg" src="image/none.jpg" id="as-credit"/>
        </a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a ng-show="u" class="asProfileNavA" href="#/people">People</a>
        <a ng-show="u" class="asProfileNavA asBoldSpan" href="#/music">Music</a>
        <a ng-show="!u" class="asProfileNavA asBoldSpan" href="#/musicg">Music</a>
        <a ng-show="u" class="asProfileNavA" href="#/books">Books</a>
        <a ng-show="!u" class="asProfileNavA" href="#/booksg">Books</a>
        <a ng-show="u" class="asProfileNavA" href="#/news">News</a>
        <a ng-show="!u" class="asProfileNavA" href="#/newsg">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a ng-show="u" class="asProfileNavA" href="#/profile">
            <span>{{u.firstName}} {{u.lastName}}</span>
        </a>
        <a ng-show="!u" class="asProfileNavA" href="#/profileg">
            <span>Guest</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <h2 class="asNormalSpan">Music</h2>
    <div class="">
        <input ng-model="title" class="asInputField asWideInputField" type ="text" placeholder="Song title" autofocus/>
        <button ng-click="search(title)" class="asButton">Search</button>
    </div>

    <br/><hr ng-show="music" class="asHr"/>

    <!-- Songs -->
    <div class="asMusicDiv" id="as-music-div"></div>
</div>

<div ng-show="music" class="asFooterDiv">
    <span class="asCopyrightSpan1">&copy; 2015 Northeastern University - </span>
    <span class="asCopyrightSpan2">Asad Shahabuddin</span>
</div>
<!-- End of music.html -->