<!--
    Author : Asad Shahabuddin
    File   : news.html
    Details: News application.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a class="asProfileNavA" href="#/expense">Expense</a>
        <a class="asProfileNavA" href="#/music">Music</a>
        <a class="asProfileNavA" href="#/books">Books</a>
        <a class="asProfileNavA asBoldSpan" href="#/news">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a class="asProfileNavA" href="#/profile">
            <span ng-show="u">{{u.firstName}} {{u.lastName}}</span>
            <span ng-show="!u">Guest</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <div class="asNewsDiv">
        <h2 class="asNormalSpan">Headlines</h2>
        <p ng-repeat="headline in headlines">
            <a class="asHeadlineA" href="{{headline.url}}">{{headline.title}}</a><br/>
            <span>{{abstract(headline)}}</span><br/>
        </p>
    </div>

    <!-- Weather card -->
    <div class="asWeatherDiv">
        <h2 class="asNormalSpan">Weather</h2>
        <form>
            <input ng-model="qcity" class="asInputField" type="text" placeholder="City name">
            <button ng-click="weather(qcity)" class="asButton">Search</button>
        </form>

        <br/>

        <div ng-show="city">
            <span ng-show="city" class="asWeatherSpan asBoldSpan">{{city}}<br/></span>
            <span ng-show="dt" class="asWeatherSpan asGrisSpan">{{dt | date}}</span>
            <span ng-show="time" class="asWeatherSpan asGrisSpan">{{time}}<br/></span>
            <span ng-show="weatherMain" class="asWeatherSpan asGrisSpan">{{weatherMain}}<br/></span>
            <span ng-show="temp" class="asWeatherSpan asBoldSpan">Temperature:</span><span ng-show="temp" class="asStatSpan"> {{temp}}&#176;C<br/></span>
            <span ng-show="humidity" class="asWeatherSpan asBoldSpan">Humidity:</span><span ng-show="humidity" class="asStatSpan"> {{humidity}}%<br/></span>
            <span ng-show="pressure" class="asWeatherSpan asBoldSpan">Pressure:</span><span ng-show="pressure" class="asStatSpan"> {{pressure}} hPa<br/></span>
            <span ng-show="windSpeed" class="asWeatherSpan asBoldSpan">Wind:</span><span ng-show="windSpeed" class="asStatSpan"> {{windSpeed}} mps</span>
        </div>
        <div ng-show="!city">
            <span>Try the weather card.</span>
        </div>
    </div>
</div>

<div class="asFooterDiv">
    <span class="asCopyrightSpan1">&copy; 2015 Northeastern University - </span>
    <span class="asCopyrightSpan2">Asad Shahabuddin</span>
</div>
<!-- End of news.html -->