<!--
    Author : Asad Shahabuddin
    File   : music.html
    Details: Music application.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a ng-show="u" class="asProfileNavA asBoldSpan" href="#/people">People</a>
        <a ng-show="u" class="asProfileNavA" href="#/music">Music</a>
        <a ng-show="!u" class="asProfileNavA" href="#/musicg">Music</a>
        <a ng-show="u" class="asProfileNavA" href="#/books">Books</a>
        <a ng-show="!u" class="asProfileNavA" href="#/booksg">Books</a>
        <a ng-show="u" class="asProfileNavA" href="#/news">News</a>
        <a ng-show="!u" class="asProfileNavA" href="#/newsg">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a ng-show="u" class="asProfileNavA" href="#/profile">
            <span>{{u.firstName}} {{u.lastName}}</span>
        </a>
        <a ng-show="!u" class="asProfileNavA" href="#/profileg">
            <span>Guest</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <h2 class="asNormalSpan">People</h2>
    <div class="">
        <input ng-model="name" class="asInputField asWideInputField" type ="text" placeholder="They are out there..." autofocus/>
        <button ng-click="search(name)" class="asButton">Search</button>
    </div>

    <br/><hr ng-show="people" class="asHr"/>
    
    <div ng-repeat="person in people" class="asPeopleDiv">
        <img src="image/male.jpg" class="asPersonImg"/>
        <a ng-click="gotoPerson(person)" class="asPersonA" style="" href="">{{person.firstName}} {{person.lastName}}</a>
        <br/><br/>
        <span class="asPersonDesc"><span class="asBoldSpan">Email:</span> {{person.username}}</span>
        <br/>
        <span class="asPersonDesc"><span class="asBoldSpan">City:</span> {{person.city}}</span>
        <br/><br/>
        <button ng-click="follow(person)" class="asButton">Follow</button>
        <hr class="asHr">
    </div>
</div>
<!-- End of music.html -->