<!--
    Author : Asad Shahabuddin
    File   : person.html
    Details: Bookmarks page for another user.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
        </a>
        <a class="asProfileNavA" href="#/people">People</a>
        <a class="asProfileNavA" href="#/music">Music</a>
        <a class="asProfileNavA" href="#/books">Books</a>
        <a class="asProfileNavA" href="#/news">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a ng-show="u" class="asProfileNavA" href="#/profile">
            <span>{{u.firstName}} {{u.lastName}}</span>
        </a>
    </header>
</div>

<div class="asContainerDiv">
    <h2 class="asNormalSpan" style="color: #585858;">{{person.firstName}} {{person.lastName}}</h2>

    <hr class="asHr"/>

    <!-- Book details -->
    <div ng-show="books.length > 0" class="asFavBooksDiv">
        <h2 class="asNormalSpan">Reading list</h2>
        <p ng-repeat="book in books" class="asBookP">
            <a class="asBookA" href="{{book.previewLink}}" target="_blank">{{book.title}}</a> 
            <br/>
            <img ng-src="{{thumbnail(book)}}" class="asBookImg"/>
            <span ng-show="{{book.industryIdentifiers}}" class="asBookUrl">
                https://books.google.com/books?isbn={{book.industryIdentifiers[0].identifier}}
            </span>
            <br/>
            <span ng-show="{{book.authors}}" class="asBookAuth">{{book.authors[0]}}</span>
            <br ng-show="{{book.authors}}"/>
            <span class="asBookDesc">{{abstract(book)}}</span>
            <br/>
        </p>
    </div>

    <!-- Song details -->
    <div class="asFavMusicDiv">
        <h2 ng-show="music" class="asNormalSpan" style="clear:both;">Playlist</h2>
        <div id="as-music-div"></div>
        <br/>
    </div>

    <hr ng-show="books.length > 0 || music" class="asHr"/>

    <!-- Comments -->
    <div class="asCommentsDiv">
        <h2 class="asCommentHeading">ALL COMMENTS</h2>
        <textarea ng-model="comment" class="asCommentTextArea" rows="3" placeholder="Share your thoughts"/><br/>
        <button ng-click="setComments(comment)" class="asButton asCommentBtn">Post</button>
        <p ng-repeat="comment in comments" class="asCommentP">
            <img class="asCommentImg" src="image/female.jpg"/>
            <span class="asBoldSpan asCommentSpan">{{comment.unm}}</span><br/>
            <span class="asCommentSpan">{{comment.post}}</span>
        </p>
        <br/><br/>
    </div>
</div>
<!-- End of bookmarks.html -->