<!--
    Author : Asad Shahabuddin
    File   : profile.html
    Details: Profile page.
    Email  : asad808@ccs.neu.edu
-->

<div class="asProfileTitleDiv">
    <header class="asNav">
        <a class="asBanner">> Console</a>
        <a class="asProfileNavA" href="" ng-click="logout()">
            <span ng-show="u">Sign out</span>
            <span ng-show="!u">Sign in</span>
        </a>
        <a ng-show="u" class="asProfileNavA" href="#/people">People</a>
        <a ng-show="u" class="asProfileNavA" href="#/music">Music</a>
        <a ng-show="!u" class="asProfileNavA" href="#/musicg">Music</a>
        <a ng-show="u" class="asProfileNavA" href="#/books">Books</a>
        <a ng-show="!u" class="asProfileNavA" href="#/booksg">Books</a>
        <a ng-show="u" class="asProfileNavA" href="#/news">News</a>
        <a ng-show="!u" class="asProfileNavA" href="#/newsg">News</a>
        <a ng-show="u" class="asProfileNavA" href="#/bookmarks">Bookmarks</a>
        <a ng-show="u" class="asProfileNavA asBoldSpan" href="#/profile">
            <span>{{u.firstName}} {{u.lastName}}</span>
        </a>
        <a ng-show="!u" class="asProfileNavA asBoldSpan" href="#/profileg">
            <span>Guest</span>
        </a>
    </header>
</div>

<div class="asCoverDiv" id="as-cover-div">
    <h3 class="asUsernameSpan">
        <span ng-show="u">{{u.firstName[0]}}{{u.lastName[0]}}</span>
        <span ng-show="!u">GU</span>
    </h3>
    <button ng-click="coverModal()" class="asButton asCoverButton" type="button">Change cover</button>

    <dialog class="asCoverModal" id="as-cover-modal">
        <!-- TODO: Hard coding needs to be removed -->
        <h3 class="asNormalSpan">Select a picture</h3>
        <div ng-click="changeCover('image/cover1.jpg')" class="asImgFrame asImgFrame1"/>
        <div ng-click="changeCover('image/cover2.jpg')" class="asImgFrame asImgFrame2"/>
        <div ng-click="changeCover('image/cover3.jpg')" class="asImgFrame asImgFrame3"/>
        <div ng-click="changeCover('image/cover4.jpg')" class="asImgFrame asImgFrame4"/>
        <div ng-click="changeCover('image/cover5.png')" class="asImgFrame asImgFrame5"/>
        <div ng-click="changeCover('image/cover6.jpg')" class="asImgFrame asImgFrame6"/>
    </dialog>
</div>

<div class="asContainerDiv">
    <h2 class="asFeedHeading">Activity feed</h2>
    <hr class="asHr"/>
    <span ng-repeat="activity in activities track by $index" class="asFeedSpan">
        {{activity}}<br/>
    </span>
    <span ng-show="!activities" class="asNoContentSpan">Build your history</span>
</div>
<!-- End of profile.html -->