<!--
    Author : Asad Shahabuddin
    File   : profile.html
    Details: Profile page for my Web Development project.
    Email  : asad808@ccs.neu.edu
-->

<!DOCTYPE html>
<html lang="en">
    <!-- Head section : BEGIN -->
    <head>
        <meta charset="UTF-8"/>
        <title>Profile - Console</title>

        <!-- Style sheets -->
        <link rel="stylesheet" type="text/css" href="../css/profile.css"/>
    </head>
    <!-- Head section : END -->

    <!-- Body section : BEGIN -->
    <body ng-app="ConsoleApp" class="asBody">
        <div class="asTitleDiv">
            <header class="asNav">
                <a class="asBanner">> Console</a>
                <a class="asNavA" href="#">Sign Out</a>
                <a class="asNavA" href="#">Expense</a>
                <a class="asNavA" href="#">Books</a>
                <a class="asNavA asBoldSpan" href="profile.html">John Doe</a>
            </header>
        </div>

        <div ng-controller="ProfileCtrl" class="asContainerDiv">
            <div class="asNewsDiv">
                <h2 class="asNormalSpan">Headlines</h2>
                <p ng-repeat="headline in headlines">
                    <a class="asHeadlineA" href="{{headline.url}}">{{headline.title}}</a><br/>
                    <span>{{abstract(headline)}}</span><br/>
                </p>
            </div>

            <!-- Weather card -->
            <div class="asWeatherDiv">
                <h2 class="asNormalSpan">Weather</h2>
                <form>
                    <input ng-model="qcity" class="asWeatherSpan" type="text" placeholder="City name">
                    <button ng-click="weather(qcity)" class="asWeatherSpan">Search</button>
                </form>

                <br/>

                <div ng-show="city">
                    <span ng-show="city" class="asWeatherSpan asBoldSpan">{{city}}<br/></span>
                    <span ng-show="dt" class="asWeatherSpan asGrisSpan">{{dt | date}}</span>
                    <span ng-show="time" class="asWeatherSpan asGrisSpan">{{time}}<br/></span>
                    <span ng-show="weatherMain" class="asWeatherSpan asGrisSpan">{{weatherMain}}<br/></span>
                    <span ng-show="temp" class="asWeatherSpan asBoldSpan">Temperature:</span><span ng-show="temp" class="asStatSpan"> {{temp}}&#176;C<br/></span>
                    <span ng-show="humidity" class="asWeatherSpan asBoldSpan">Humidity:</span><span ng-show="humidity" class="asStatSpan"> {{humidity}}%<br/></span>
                    <span ng-show="pressure" class="asWeatherSpan asBoldSpan">Pressure:</span><span ng-show="pressure" class="asStatSpan"> {{pressure}} hPa<br/></span>
                    <span ng-show="windSpeed" class="asWeatherSpan asBoldSpan">Wind:</span><span ng-show="windSpeed" class="asStatSpan"> {{windSpeed}} mps</span>
                </div>
                <div ng-show="!city">
                    <span>Try the weather card.</span>
                </div>
            </div>
        </div>

        <div class="asFooterDiv">
            <span class="asCopyrightSpan1">&copy; 2015 Northeastern University - </span>
            <span class="asCopyrightSpan2">Asad Shahabuddin</span>
        </div>

        <!-- Scripts -->
        <!--
        The inclusion of JavaScripts has been deferred to the end of body section
        to speed up HTML load time.
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.13/angular-route.min.js"></script>
        <script src="../js/profile.js"></script>
    </body>
    <!-- Body section : END -->
</html>
<!-- End of profile.html -->