/*
    Author: Asad Shahabuddin
    File: 16-coterie.css
    Details: Style sheet for 'Coterie'.
*/

h2
{
    color: navy;
}

.itemTitle
{
    font-weight: bold;
}

.itemThumbnail
{
    float: left;
    margin-right: 20px;
}