/*
    Author: Asad Shahabuddin
    File: 26-node.css
    Details: CSS for '26-node.html'.
    Email ID: asad808@ccs.neu.edu
*/

.asBody
{
    background-color: #eee;
    font-family: Arial;
    margin-left: 20px;
    margin-right: 20px;
}

.asBoldSpan
{
    font-weight: bold;
}

.asMarineSpan
{
    color: navy;
}

.asCenterSpan
{
    text-align: center;
}

.asCode
{
    color: crimson;
    font-family: "Courier New";
}
/* End of 26-node.css */